<div class="row">
  <div class="span4">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
            html:{class: "well"}) do |f| %>
  <%= devise_error_messages! %>
  
      <fieldset>
        <legend><strong>Sign Up</strong></legend>
        <%= f.input :name %>
        <%= f.input :profile_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.input :remember_me, as: :boolean %></div>
        <% end -%>

        <div><%= f.button :submit, "Sign up" %></div>
      </fieldset>
  <% end %>

  <%= render "devise/shared/links" %>

  </div>
  
  <div class="span8">
    <h3 class="lead"> After signing in you're able to add new German nightmare words to the list.</h3>
  </div>
</div>
