<%= simple_form_for(@nightmare, html: {class: "form-horizontal"}) do |f| %>
  <% if @nightmare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nightmare.errors.count, "error") %> prohibited this nightmare from being saved:</h2>

      <ul>
      <% @nightmare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :expression %>
  <%= f.input :description %>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
