<div class="page-header">
  <h2>Words which cause nightmares:</h2>
</div>

<%= link_to "Post a New Nightmare", new_nightmare_path, class:"btn btn-primary" %>
<br>
<br>
<% @nightmares.each do |nightmare|%>
  <div class="nightmare" >
    <strong><%= nightmare.name%></strong>
    <p><%= nightmare.expression%> : <em><%= nightmare.description%></em></p>
    <div class="meta">
      <%= link_to time_ago_in_words(nightmare.created_at) + " ago", nightmare%>
      <span class="admin">
       | <%= link_to 'Edit', edit_nightmare_path(nightmare)%> | 
        <%= link_to 'Destroy', nightmare, method: :delete, data: {confirm:"Are you sure you want to delete this?"}%>
      </span>
    </div>
  </div>
<% end %>