<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nightmare.name %>
</p>

<p>
  <strong>Expression:</strong>
  <%= @nightmare.expression %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nightmare.description %>
</p>

<% if user_signed_in? then %>
<%= link_to 'Edit', edit_nightmare_path(@nightmare) %> |
<% end %>
<%= link_to 'Back', nightmares_path %>
